<ion-grid>
  <img src="../../assets/img/dos-logo.jpeg">
  <ion-row>
    <ion-col>
      <div>
        <ion-input placeholder="Link für neues Spiel" type="text" [(ngModel)]="link" text-right id="input"></ion-input>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-button (click)="addGame()" expand="full" color="dark">Upload</ion-button>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let game of games" style="background: rgba(0,0,0,0);">
    <ion-col>
      <div>
        <p>{{game}}</p>
      </div>
    </ion-col>
    <ion-col>
      <div>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-button color="dark" (click)="deleteGame(game)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>





